body{
  background-color: #cf9e2a;
}
.container{
  display:flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
 
}
h1 {
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}
.play button{
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  font-weight: 1rem;
  
}
.card-small{
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
 
}
.character{
  background: url('/img/guest.jpeg') ;
  background-size: cover;
  width: 120px;
  height: 120px;
  display: none;


}
.hidden{
  display: none;
}
.visible{
  display: block;
}
.card{
  background-color: #FFECBA;
  border-radius: 500px;
  height: 750px;
  width: 750px;
}
.thief{
  background: url('/img/thief.png') ;
  background-size: cover;
  flex-direction: row;
  border-radius: 2rem;
  width: 120px;
  height: 120px;
 

}